body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #EEEEEE;
  text-decoration-color: #000000;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.left-container {
  background-color: #CCCCCC;
  height: 100%;
  width: 30%;
  max-width: 450px;
  margin: 0 auto;
  position: absolute;
  left: 0px;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

p {
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
}

.narrow {
  align-self: center;
  width: 70%;
}

ul {
  padding: 0;

}

li {
  list-style-type: none;
}

table {
  width: 100%;
}

.button {
  color: #000000;
  background: #CCCCCC;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.row {
  table-layout: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 17%;
  align-self: center;
  align-items: left;
}
.columnDesc {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 30%;
  flex-direction: column;
  align-self: center;
  align-items: left;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.nav {
  display: flex;
  background-color: #aaaaaa;
}

.nav li {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.username {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}